header {
  display: block;
  flex: 1;
  position: relative;
  width: 100%;
  justify-content: space-between;
  background: var(--color-header-background);
}

header nav ul li div a img {
  width: 130px;
  height: 120px;
  position: static;
}

header nav ul li.logo-centro img {
  width: 270px;
  height: 110px;
  position: relative;
  justify-content: center;
  margin-right: 150px;
  display: static;
}

@media (max-width: 1175px) {
    header nav ul li.logo-centro img  {
    width: 135px;
    height: 55px;
  }
}

@media (max-width: 1048px) {
  header nav ul li.logo-centro img  {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-top {
    border-top: 1px #444444 solid;
  }
}

#logo-box {
  width: 130px;
  height: 120px;
}

/* Basic styling */
nav {
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--color-a-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

/* Alterado Início */
.menu {
  position: relative;
  margin: 10px 15px;
}
/* Alterado Fim */

.menu a {
  display: block;
  text-decoration: none;
}

.menu a:hover{
  opacity: 0.6;
  transition: 0.2s;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444444 solid;
}

.create-log label.sign-in,
.create-log label.sign-up {
  color: var(--color-a-text);
  text-decoration: none;
}

.active {
  transition: 400ms;
}
  
  /* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%; /*Importante*/
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Movimentação Destinos */
.item.lower {
  position: absolute;
  display: block;
  width: 180px;
}
/* Fim Movimentação Destinos */

/* Início Mobile Destino */
@media (max-width: 767px) {
  .item.lower {
    position: relative;
    width: 100%;
  }
  #conf {
    width: 100%; /*Importante*/
    text-align: center;
    order: 3;
  }
  
  #conf.active {
    display: block;
  }
}
/* Fim Mobile Destino */
  
  /* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}
  
/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  
  .logo {
    flex: 1;
  }
  
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all 0.25s;
  }

  label.sign-up,
  label.sign-in {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  label.sign-up {
    background: transparent;
  }

  section.create-log label:hover {
    text-decoration: none;
    transition: all 0.25s;
  }

  .button:not(.secondary) label:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .button.secondary label:hover {
    color: var(--color-button-text) 0.6;
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .button.secondary a:hover {
    color: var(--color-button-text);
  }
}
  
/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}


/*Mais uma tentativa*/
span.destiny {
  margin-right: -8px;
}

li.upper {
  padding: 7.5px 15px;
}

li.upper.collapsed {
  border-radius: 30% 30% 0 0;
  background: rgba(26, 188, 156, 0.5);
}

li.upper.collapsed img.arrow-down {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

img.arrow-down {
  width: 12px;
  height: 12px;
}

li.lower {
  padding: 0;
  background: rgba(26, 188, 156, 0.2); /*Cor do fundo da caixa*/
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  -moz-transition: max-height 0.3s ease;
  -ms-transition: max-height 0.3s ease;
  -o-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  border-radius: 0% 0% 40% 40%;
}

li.lower ul li {
  padding: 12px 30px; /*Distanciamento*/
  cursor: pointer;
  font-size: 0.8em;
}

li.lower ul li:hover {
  background: rgba(26, 188, 156, 0.3);
}


/* Teste Body - Arrumar tudo que tem embaixo*/
/* Global */

body.hideScroll {
  overflow: hidden;
  position: fixed;
}

p, .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

/* Padrão */
#container {
  width: 80%;
  max-width: 980px;

  margin: 40px auto;

  display: flex;
}

div.container h2 {
  text-align: center;
  margin-bottom: 5px;
}

@media (min-width: 1048px) {
  #last-travel-packages {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 20px;
  }

  div.container h2 {
    text-align: center;
    margin-bottom: 5px;
  }
}

/* footer {
  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: #777;
}

footer a {
  opacity: 0.7;
} */

.package {
  display: flex;

  background-color: var(--color-primary-lighter);
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
  border-radius: 8px;

  padding: 32px;

  margin-bottom: 32px;
}

.package img {
  width: 60px;
  height: 60px;

  margin-right: 32px;
}

.package h3 {
  margin: 0;
}

.package p {
  margin: 8px 0;
  color: #777;
}

.package .description {
  margin: 16px 0;
}


/* Modal Sign Up */
#modal-signup {
  background: var(--color-header-background);

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  transition: all 400ms;

}

#modal-signup.addScroll {
  overflow: auto;
}

#modal-signup .content-signup {
  margin-top: 15%;

  color: white;
}

#modal-signup .content-signup h1 {
  text-align: center;
  margin-bottom: 40px;

  text-transform: uppercase;
}

#modal-signup form {
  width: 100%;
  max-width: 700px;
  max-height: 80vh;

  margin: 0 auto 35%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 20px;
}

@media all and (max-width: 768px) {
  .content-signup {
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    transform: scale(0.8, 0.8); /* Standard syntax */
  }
}

.content-signup form div:nth-child(1),
.content-signup form div:nth-child(2),
.content-signup form div:nth-child(3),
.content-signup form div:nth-child(4),
.content-signup form div:nth-child(5),
.content-signup form div:nth-child(6),
.content-signup form div:nth-child(7),
.content-signup form div:nth-child(8),
.content-signup form div:nth-child(9),
.content-signup form div:nth-child(10),
.content-signup form div:nth-child(11),
.content-signup form div:nth-child(12),
.content-signup form div:nth-child(13),
.content-signup form div:nth-child(14),
.content-signup form div:nth-child(15),
.content-signup form div:nth-child(16) {
  grid-column: span 2;
}

/* .content-signup form div:nth-child(15),
.content-signup form div:nth-child(16) {
  grid-column: span 4;
} */

form input {
  width: 100%;

  padding: 12px;

  box-sizing: border-box;

  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);

  outline: none;
  font-size: 16px;
}

for label {
  font: 500 1.6rem Roboto;
  line-height: 32px;
  letter-spacing: 0.8px;
}

form a {
  width: 150px;
  height: 40px;

  background-color: #ffffff22;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bold;

  border-radius: 6px;

  align-self: end;

  transition: 400ms;
}

form a:hover {
  background: #fff;
  color: #1C1C1C;

  text-decoration: none;
}

form button{
  background: #8257E5;
  color: #1C1C1C;
  font-weight: 700;

  width: 150px;
  height: 40px;

  border-radius: 6px;

  cursor: pointer;

  margin-top: 32px;
  
  grid-column: 4; /* Seguir com número máximo */

  justify-self: end;

  transition: 400ms;

}

form button:hover {
  background-color: #0984e3;
  color: white;

  text-decoration: none;
}

#modal-signup.hide {
  opacity: 0;
  visibility: hidden;
}


/* Modal Sign In */
#modal-signin {
  background: var(--color-header-background);

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  transition: all 400ms;

}

#modal-signin.addScroll {
  overflow: auto;
}

#modal-signin .content-signin {
  margin-top: 15%;

  color: white;
}

#modal-signin .content-signin h1 {
  text-align: center;
  margin-bottom: 40px;

  text-transform: uppercase;
}

#modal-signin form {
  width: 100%;
  max-width: 700px;
  max-height: 80vh;

  margin: 0 auto 35%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 20px;
}

@media all and (max-width: 768px) {
  .content-signin {
    -ms-transform: scale(0.8, 0.8); /* IE 9 */
    transform: scale(0.8, 0.8); /* Standard syntax */
  }
}

.content-signin form div:nth-child(1),
.content-signin form div:nth-child(2) {
  grid-column: span 4;
}

#modal-signin.hide {
  opacity: 0;
  visibility: hidden;
}

/* Footer */

footer {
  color: #ffffff;
  clear: both;
  background: #0967b4;
  background: -webkit-linear-gradient(to right, #003445, #0967b4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #003445, #0967b4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  list-style-type: none;
  width: 100vw;

}

footer ul {
  list-style-type: none;
}

footer ul li {
  font-size: 12px;
}

footer a {
  color: #ffffff;
}

#icones {
  float: right;
  margin-right: 7%;
  margin-top: 20px;

}

.box {
  display: inline-block;
}

#creditos {
  left: 43%;

  margin-top: 20px;
  align-content: center;
}

#infos {
  margin-left: 5%;
}
