:root {
  font-size: 40%;
  /* 60% */

  --color-background       : #F0F0F7;
  --color-header-background: #011C25;
  --color-primary-package  : #011c25cb;
  --color-a-text           : #FFFFFF;
  --color-button-text      : #FFFFFF;
  --color-text-in-primary  : #D4C2FF;
  --color-primary-lighter  : #9871F5;
  --color-primary-light    : #916BEA;
  --color-primary          : #8257E5;
  --color-primary-dark     : #774DD6;
  --color-primary-darker   : #6842C2;
  --color-secundary        : #04D361;
  --color-secundary-dark   : #04BF58;
  --color-title-in-primary : #FFFFFF;
  --color-text-title       : #32264D;
  --color-text-complement  : #9C98A6;
  --color-text-base        : #6A6180;
  --color-line-in-white    : #E6E6F0;
  --color-input-background : #F8F8FC;
  --color-box-base         : #FFFFFF;
  --color-box-footer       : #FAFAFC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font : 400 1.6rem Roboto;
  color: var(--color-text-base);
}

/*Formatação de Links - Início*/
/* a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  } */
/*Formatação de Links - Fim*/

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}