header {
  display: block;
  flex: 1;
  position: relative;
  width: 100%;
  justify-content: space-between;
  background: var(--color-header-background);
}

header nav ul li a img {
  width: 130px;
  height: 120px;
  position: static;
}

header nav ul li.logo-centro img {
  width: 270px;
  height: 110px;
  position: relative;
  justify-content: center;
  margin-right: 150px;
  display: static;
}

@media (max-width: 1175px) {
    header nav ul li.logo-centro img  {
    width: 135px;
    height: 55px;
  }
}

@media (max-width: 1041px) {
  header nav ul li.logo-centro img  {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-top {
    border-top: 1px #444444 solid;
  }
}

#logo-box {
  width: 130px;
  height: 120px;
}


/* Basic styling */
nav {
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--color-a-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu a {
  display: block;
  text-decoration: none;
}

.menu a:hover{
  opacity: 0.6;
  transition: 0.2s;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444444 solid;
}

.active {
  transition: 400ms;
}
  
  /* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%; /*Importante*/
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}
  
  /* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}
  
/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  
  .logo {
    flex: 1;
  }
  
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all 0.25s;
  }

  section.sign-up button {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  section.sign-up button {
    background: transparent;
  }

  .sign-up button:hover {
    text-decoration: none;
    transition: all 0.25s;
  }

  .sign-up:not(.secondary) button:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .sign-up button:hover {
    color: var(--color-button-text);
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .button.secondary a:hover {
    color: var(--color-button-text);
  }
}
  
/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}


/*Mais uma tentativa*/

nav#wrapper::-webkit-scrollbar-track {
  background-color: #1abc9c;
}

nav#wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #1abc9c;
}

nav#wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

/* ul {
  font-size: 0.9em;
} */

li.top {
  cursor: pointer;
}

/* li.top:hover {
  background: rgba(26, 188, 156, 0.5); /*Deixa o Destino com essa cor depois de clicado.*/
/*} */

li a span.destiny {
  margin-right: -8px;
}

li.upper {
  position: relative;
}

@media all and (min-width: 768px) {
  li.lower {
    position: static;
    margin-right: -110px;
    margin-bottom: -205px;
    transform: translateX(-102px);
  }
}

li.upper {
  border-radius: 30% 30% 30% 30%;
  background: rgba(26, 188, 156, 0.5);
  padding: 7.5px 15px;
}

li.upper.collapsed {
  border-radius: 30% 30% 0 0;
  background: rgba(26, 188, 156, 0.5);
}

li.upper.collapsed img.arrow-down {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

img.arrow-down {
  width: 12px;
  height: 12px;
}

li.lower {
  padding: 0;
  background: rgba(26, 188, 156, 0.2); /*Cor do fundo da caixa*/
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  -moz-transition: max-height 0.3s ease;
  -ms-transition: max-height 0.3s ease;
  -o-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  border-radius: 0% 0% 40% 40%;
}

li.lower ul li {
  padding: 12px 30px; /*Distanciamento*/
  cursor: pointer;
  font-size: 0.8em;
}

li.lower ul li:hover {
  background: rgba(26, 188, 156, 0.3);
}


/* Teste Body - Arrumar tudo que tem embaixo*/
/* Global */

body.hideScroll {
  overflow: hidden;
}

/* Comentar - Início */
/*a {
  color: #ff5e84;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}*/

/* Fim comentário */

p, .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}


/* Padrão */

#container {
  width: 80%;
  max-width: 980px;

  margin: 40px auto;

  display: flex;

}


footer {
  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: #777;
}

footer a {
  opacity: 0.7;
}

.idea {
  display: flex;

  background-color: var(--color-primary-lighter);
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
  border-radius: 8px;

  padding: 32px;

  margin-bottom: 32px;
}

.idea img {
  width: 60px;
  height: 60px;

  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}


/* Modal */

#modal {
  background-color: #ff5e84;

  position: absolute; /* Colocando o position absolute, habilita as propriedades abaixo */
  /*width: 100vw; /* View port, é toda a área visível do seu dispositivo
  height: 100vw;*/ /* OU */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;


  display: flex; /* Quando habilita o display flex, também habilita algumas propriedades */
  /*align-items: center;*/
  justify-content: center;

  transition: all 400ms;

}

#modal.addScroll {
  overflow: auto;
}

#modal .content {
  margin-top: 15%;

  color: white;
}

#modal .content h1 {
  text-align: center;

  text-transform: uppercase;
}

#modal form {
  width: 80%;
  max-width: 800px;

  margin: 0 auto 15%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
  grid-column: span 2;
}

form input,
form textarea {
  width: 100%;

  padding: 12px;

  box-sizing: border-box;

  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);

  outline: none;
  font-size: 16px;
}

for label {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.8px;
}

form a {
  width: 150px;
  height: 40px;

  background-color: #ffffff22;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bold;

  border-radius: 6px;

  align-self: end;

  transition: 400ms;
}

form a:hover {
  background: #fff;
  color: #ff5e84;

  text-decoration: none;
}

form button{
  background: white;

  width: 150px;
  height: 40px;

  border-radius: 6px;

  cursor: pointer;

  margin-top: 32px;
  
  grid-column: 2;

  justify-self: end;

  transition: 400ms;

}

form button:hover {
  background-color: #0984e3;
  color: white;

  text-decoration: none;
}

#modal.hide {
  opacity: 0;
  visibility: hidden;
}

/* IDEIA.HTML*/
#page-ideas #container {
  display: block;
}
#page-ideas header {
  display: flex;
  justify-content: space-between;
}

#page-ideas nav {
  display: flex;
  align-items: center;
}

#page-ideas nav li {
  list-style-type: none;

  margin-right: 16px;
}

#page-ideas nav li a {
  color: #252828;
}

#page-ideas nav li a.button {
  color: white;
}

#page-ideas nav li:last-child {
  margin: 0;

}

section#title {
  text-align: center;

}

section#title p {
  opacity: 0.7;
  margin: 0;
}

section#title h1 {
  margin: 0;

  font-size: 28px;
}

section#ideas {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

section#ideas .idea {
  margin: 0;
}

section#title,
section#ideas,
footer {
  margin-top: 64px;
}