header {
  display: block;
  flex: 1;
  position: relative;
  width: 100%;
  justify-content: space-between;
  background: var(--color-header-background);
}

header nav ul li a img {
  width: 130px;
  height: 120px;
  position: static;
}

header nav ul li.logo-centro img {
  width: 270px;
  height: 110px;
  position: relative;
  justify-content: center;
  margin-right: 150px;

  display: block;
}

@media (max-width: 1162px) {
    header nav ul li.logo-centro img  {
    width: 135px;
    height: 55px;
  }
}

@media (max-width: 1027px) {
  header nav ul li.logo-centro img  {
    display: none;
  }
}

/* Basic styling */
nav {
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu a {
  display: block;
  text-decoration: none;
}

.menu a:hover{
  opacity: 0.6;
  transition: 0.2s;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.logo a,
.toggle a {
  font-size: 20px;
}

.button.secondary {
  border-bottom: 1px #444 solid;
}
  
  /* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%; /*Importante*/
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}
  
  /* Navbar Toggle */
.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.bars:before {
  top: 5px;
}

.bars:after {
  top: -5px;
}
  
/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  
  .logo {
    flex: 1;
  }
  
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 7.5px 15px;
    background: teal;
    border: 1px #006d6d solid;
    border-radius: 50em;
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
    transition: all 0.25s;
  }

  .button:not(.secondary) a:hover {
    background: #006d6d;
    border-color: #005959;
  }

  .button.secondary a:hover {
    color: var(color-button-text);
  }
}
  
/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}


/*Mais uma tentativa*/

nav#wrapper::-webkit-scrollbar-track {
  background-color: #1abc9c;
}

nav#wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #1abc9c;
}

nav#wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

/* ul {
  font-size: 0.9em;
} */

li.top {
  cursor: pointer;
}

/* li.top:hover {
  background: rgba(26, 188, 156, 0.5); /*Deixa o Destino com essa cor depois de clicado.*/
/*} */

li.top:nth-last-child(1) {
  margin-bottom: 20px;
}

li.upper {
  position: relative;
}

@media all and (min-width: 768px) {
  li.lower {
    position: static;
    margin-right: -110px;
    margin-bottom: -205px;
    transform: translateX(-98px);
  }
}

li.upper.collapsed {
  background: rgba(26, 188, 156, 0.5);
}

li.upper.collapsed img.arrow-down {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

img.arrow-down {
  width: 12px;
  height: 12px;
}

li.lower {
  padding: 0;
  background: rgba(26, 188, 156, 0.2); /*Cor do fundo da caixa*/
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  -moz-transition: max-height 0.3s ease;
  -ms-transition: max-height 0.3s ease;
  -o-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

li.lower ul li {
  padding: 12px 30px; /*Distanciamento*/
  cursor: pointer;
  font-size: 0.8em;
}

li.lower ul li:hover {
  background: rgba(26, 188, 156, 0.3);
}

li.lower ul li:nth-last-child(1) {
  padding-bottom: 18px;
}
